<footer class="bd-footer py-3 mt-3 bg-light">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                    aria-label="Bootstrap">
                    <span class="fs-5">Prasetiyo</span>
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Website that contains a limited profile to showcase related projects and others.</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Social Media</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="nodecoration" href="https://github.com/prasetiyo-2020">GitHub</a></li>
                    <li class="mb-2"><a class="nodecoration" href="https://www.instagram.com/prasetiyoconnected/">Instagram</a></li>
                    <li class="mb-2"><a class="nodecoration" href="http://prasetiyo-dbj.blogspot.com/">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>