<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/stylesheet.css">
    <title>Prasetiyo Art</title>
</head>

<body>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Welcome to My Art Galery</h1>
                <p class="lead text-muted">On this website, I showcase my image manipulation works to show off, and
                    also to get projects.</p>
                <p>
                    <a href="https://api.whatsapp.com/send?phone=62895637232342&text=Halo%20Prasetiyo, " target="_blank"
                        class="btn btn-success my-2">Offer me a project</a>
                </p>
            </div>
        </div>
    </section>
    <main>
        <hr>
        <div class="album-wrapper">
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <% manipulations.forEach((manipulation) => { %>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="<%= manipulation.image %>" class="card-img-bottom" alt="...">
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('footer'); %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
</body>

</html>